html, body {
  padding: 10px;
  clear: both;
  float: left;
}

#blogPost {
  padding: 10px;
  margin-bottom: 50px;
  border: 2px solid blue;
}

#blogPostCreation {
  padding: 10px;
  border: 2px solid blue;
}

#blogPostCreation > * {
  margin: 10px;
}
